
.lab-float {
	float: left;
	border: 0;
	margin-top: .01rem;
}
.btn-float{
	float: left;
}
.acc-login{
	height: 1.26rem;
	line-height: 1.26rem;
	text-align: center;
	font-size: .13rem;
	color: #6d6d6d;
}
.acc-login a{
	font-size: .15rem;
	color: #fd49ab;
}
