/* Empty. Add your own CSS if you like */
/*.scroll-bar-indicator {
  display: none;
}*/
html,body{
  width:100%;
  height: 100%;
}
.tab-item-active {
  color: #FD49AB;
}
.tab-item .icon{
  margin: 2px auto;
  height: 26px;
  font-size: 26px;
}
